---
const { menu } = Astro.props;
---

<ul>
	{
		Object.values(menu.menu).map((item) => (
			<li>
				<a href={item.url}>{item.title}</a>
				{Object.keys(item.menu).length > 0 && <Astro.self menu={item} />}
			</li>
		))
	}
</ul>
