---
const { menu } = Astro.props;
---

<pre>{JSON.stringify(menu, null, 2)}</pre>

<ul>
	{
		// menu.map((item) => (
		// 	<li>
		// 		<a href={item.url}>{item.title}</a>
		// 		{item.menu.length > 0 && <Astro.self menu={item.menu} />}
		// 	</li>
		// ))


	}
</ul>
