---
// @ts-ignore
let pages = await Astro.glob(['@pages/**/*.astro', '@pages/**/*.md']);
pages = pages.filter((page) => !page.frontmatter?.draft);

import List from '@components/Menu/List.astro';

function convertToHierarchy(pages) {
	let menu = { title: '', url: '', menu: {} };
	for (const page of pages) {
		const urlParts = page.url.split('/');
		let cur = menu;
		for (let i = 1; i < urlParts.length; i++) {
			if (cur.menu[urlParts[i]] === undefined) {
				cur.menu[urlParts[i]] = { title: '', url: '', menu: {} };
			}
			cur = cur.menu[urlParts[i]];
		}
		cur.title = page.title || page.frontmatter?.title;
		cur.url = page.url;
	}
	menu.url = '/';
	return { menu: Object.values(menu)[2] };
}

const menu = convertToHierarchy(pages);
---

<nav>
	<List menu={menu} />
</nav>
