---
// @ts-ignore
import Layout from '@layouts/Layout.astro';
import ProgramCard from '../../components/ProgramCard/ProgramCard.astro';
let mdxs = await Astro.glob('@pages/programs/**/*.mdx');
mdxs = mdxs.filter((post) => !post.frontmatter.draft);

export const title = 'Программы'
---
<Layout>
	<div>
		{mdxs.map((mdx) => (
			<article>
				<ProgramCard mdx={mdx} kk={4} />
				<mdx.Content />
				<hr />
			</article>
		))}
	  </div>
</Layout>
